@import '~vars.scss';

.layout {
  padding: 100px 0 50px;
}

.content {
  overflow: hidden;
  margin: 0 auto;
  width: 900px;
  background: #fff;
  border: solid 1px #dedede;
  border-radius: 10px;
}
