@import '~vars.scss';

.items-list {
  padding: 15px 15px 15px 0;

  &__no-items {
    padding: 20px;
    font-family: $mainFontBold;
    font-size: 18px;
    color: $accent;
    text-align: center;
  }

  &__count {
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 40px;
    color: #d4d4d4;
    text-align: center;
    border: solid 1px #f3f3f3;
    border-radius: 5px;
    transition: all ease .2s;

    span {
      font-family: $mainFontBold;
      font-size: 15px;
    }

    &.full {
      background: #e9ffef;
      color: #467153;
      border: solid 1px #89af95;
    }
  }
}
