// Colors
$main: #8aaf95;
$accent: #d87171;
$text: #464d51;
$background: #f7f7f7;
$forms: #ececec;

// Fonts
$mainFontThin: 'OpenSansThin';
$mainFontBold: 'OpenSansBold';
$mainFontRegular: 'OpenSansRegular';
