// Colors
$main: #8aaf95;
$accent: #d87171;
$text: #464d51;
$background: #f7f7f7;
$forms: #ececec;

// Media
$tabletsBig: '1024px';
$tabletsSmall: '767px';
$mobiles: '480px';

// Fonts
$mainFontThin: 'OpenSansThin';
$mainFontBold: 'OpenSansBold';
$mainFontRegular: 'OpenSansRegular';
