// Colors
$border: #e6e6e6;
$accent: #ff408e;

// Media
$tabletsBig: '1024px';
$tabletsSmall: '767px';
$mobiles: '480px';

// Fonts
$mainFontBold: 'OpenSansBold';
$mainFontRegular: 'OpenSansRegular';
