@import '~vars.scss';

.product {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &-info {
    width: 400px;

    &-bottom {
      padding-top: 25px;

      img {
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &-payment {
    width: 700px;
  }
}
