.item {
  margin: 0 20px 20px;

  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0 10px 10px;
    padding: 10px;
    background: #e9ffef;
    border: solid 1px #c8e8d1;

    &.open {
      background: #fdfaff;
      border: solid 1px #edd7fb;
    }
  }

  &__title {
    overflow: hidden;
    width: 300px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__open-child-btn {
    padding: 5px 10px;
    width: 225px;
    background: #8aaf95;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .2s;

    &:hover,
    &.open {
      background: #a18aaf;
    }

    &.open:hover {
      background: #baa6c5;
    }

    &.empty {
      background: #448859;

      &:hover {
        background: #a18aaf;
      }
    }
  }

  &__delete {
    padding: 5px 10px;
    background: #de9f9f;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background: #ff6262;
    }
  }

  &__childs {
    margin-bottom: 70px;
  }
}
