.item {
  margin-bottom: 15px;

  &.open {
    margin-bottom: 70px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    background: #e9ffef;
    border: solid 1px #c8e8d1;
    border-radius: 5px;
  }

  &.open &__box {
    background: #fdfaff;
    border: solid 1px #edd7fb;
  }

  &__title {
    overflow: hidden;
    padding-right: 20px;
    width: 330px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.open &__title {
    color: #866b98;
  }

  &__open-child-btn {
    padding: 5px 10px;
    background: #8aaf95;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;

    &:hover,
    &.open {
      background: #a18aaf;
    }

    &.open:hover {
      background: #baa6c5;
    }

    &.empty {
      background: #448859;

      &:hover {
        background: #a18aaf;
      }
    }
  }

  &__delete {
    padding: 5px 10px;
    background: #de9f9f;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background: #ff6262;
    }
  }

  &__childs {
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: all ease .6s;

    &.open {
      opacity: 1;
      height: auto;
    }
  }
}
